/*头部样式开始*/
#head{
	background: #fff!important;
}
#head .headMain{
	height: 80px;
	position: relative;
}
#head .headMain .logo img{
	width: 180px;
	height: 60px;
}
#head .headMain .nav{
	margin-top: 50px;
}
#head .headMain .nav .lists li{
	position: relative;
	float: left;
	margin-left: 40px;
}
#head .nav .lists li .up{
	position: absolute;
	color: #000000;
	width: 0;
	overflow: hidden;
	transition: 1s width;
}
#head .nav .lists li a img{
	width: 21px;
}
#head .nav .lists li:hover .up{
	width: 100%;
}
#head .arrow{
	width: 32px;
	height: 32px;
	background: url(../img/arrow.png);
	position: absolute;
	left: 50%;
	bottom: -20px;
	transition: 1s left;
	z-index: 2;
}
/*头部样式结束*/
/*内容样式开始*/
#content{
	height: 300px;
	background: gray;
	position: relative;
	overflow: hidden;
	width: 100%;
}
#content .lists{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition: 1s top;
}
#content .lists > li{
	position: relative;
	background-position: 50% 50%!important;
}
#content .lists .home{
	background: url(../img/bg1.png) no-repeat;
}
#content .lists .course{
	background: url(../img/bg2.png) no-repeat;
}
#content .lists .works{
	background: url(../img/bg1.png) no-repeat;
}
#content .lists .about{
	background: url(../img/bg2.png) no-repeat;
}
#content .lists .team{
	background: url(../img/bg1.png) no-repeat;
}
#content .lists > li > div{
	width: 1100px;
	height: 520px;
	background: pink;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*内容样式结束*/